<header class="row header">
    <section class="l-side">
        <div class="toggle-menu-btn-container">
            <button class="toggle-menu-btn">
                <i class="fas fa-bars fs-1-h"></i>
            </button>
        </div>
        <div class="pankti">
            <a href="#">
                <img src="icon/logo/logo.png" alt="logo">
                <span>ankti</span>
            </a>
        </div>
    </section>
    <section class="m-side">
        <%- include('navigation') %> 
    </section>
    <section class="d-flex r-side">
        <div class="fill-height search-bar">
            <form action="/" method="get">
                <input type="text" placeholder="Search Pankti">
            </form>
        </div>
        <div class="fill-height user-profile">
            <a href="/login">
                <img src="icon/user/user-2.png" alt="">
            </a>
        </div>
    </section>
</header>