<nav class="main-navigation">
    <ul>
        <li>
            <a href="#">
                <img src="icon/navigation/radius/home.png" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="icon/navigation/radius/calendar.png" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="icon/navigation/radius/community.png" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="icon/navigation/radius/bell.png" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="icon/navigation/radius/workspace.png" alt="">
            </a>
        </li>
    </ul>
</nav>