<nav class="right-sidebar">
    <header>
        <a href="#">
            <img src="icon/shortcut/shortcut.png" alt=""> 
            <span>Shortcuts</span>
        </a>
    </header>
    <main>
        <ul>
            <li>
                <div class="container">
                    <a href="#">
                        <div class="shortcut-icon">
                            <img src="/icon/shortcut/shortcut.png" alt="">
                        </div>
                        <div class="shortcut-description">
                            <span class="shortcut-title">Shortcut Title Goes Here</span>
                            <span class="shortcut-type">Shortcut Type</span>
                        </div>
                    </a>
                    <div class="shortcut-ctrl">
                        <button>
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li>
                <div class="container">
                    <a href="#">
                        <div class="shortcut-icon">
                            <img src="/icon/shortcut/shortcut.png" alt="">
                        </div>
                        <div class="shortcut-description">
                            <span class="shortcut-title">Shortcut Title Goes Here</span>
                            <span class="shortcut-type">Shortcut Type</span>
                        </div>
                    </a>
                    <div class="shortcut-ctrl">
                        <button>
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li>
                <div class="container">
                    <a href="#">
                        <div class="shortcut-icon">
                            <img src="/icon/shortcut/shortcut.png" alt="">
                        </div>
                        <div class="shortcut-description">
                            <span class="shortcut-title">Shortcut Title Goes Here</span>
                            <span class="shortcut-type">Shortcut Type</span>
                        </div>
                    </a>
                    <div class="shortcut-ctrl">
                        <button>
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li>
                <div class="container">
                    <a href="#">
                        <div class="shortcut-icon">
                            <img src="/icon/shortcut/shortcut.png" alt="">
                        </div>
                        <div class="shortcut-description">
                            <span class="shortcut-title">Shortcut Title Goes Here</span>
                            <span class="shortcut-type">Shortcut Type</span>
                        </div>
                    </a>
                    <div class="shortcut-ctrl">
                        <button>
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li>
                <div class="container">
                    <a href="#">
                        <div class="shortcut-icon">
                            <img src="/icon/shortcut/shortcut.png" alt="">
                        </div>
                        <div class="shortcut-description">
                            <span class="shortcut-title">Shortcut Title Goes Here</span>
                            <span class="shortcut-type">Shortcut Type</span>
                        </div>
                    </a>
                    <div class="shortcut-ctrl">
                        <button>
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </main>
    <footer>
        <button>
            Add new shortcut
        </button>
    </footer>
</nav>