<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <title>Sign in to Pankti &middot; Pankti</title>
</head>
<body class="pd-0">
    <header class="authentication-panel-header">
        <div class="logo fill-height d-flex centered">
            <a href="#" class="d-flex fill-height">
                <img src="/images/logo/logo.png" alt="Logo">
                <span class="d-flex align-end fill-height" style="margin-left:-7px">ankti</span>
            </a>
        </div>
    </header>
    <main class="authentication-panel-main centered">
        <div class="login-panel">
            <section>
                <header class="block">
                    Create your new account
                </header>
                <main class="block">
                    <form action="/" method="post">
                        <section>
                            <label for="username" class="d-block">Username</label>
                            <input type="text" name="username" id="username" autocapitalize="off" autocomplete="username" autofocus>
                        </section>
                        <section>
                            <label for="email" class="d-block">Email address</label>
                            <input type="email" name="email" id="email" autocapitalize="off" autocomplete="email">
                        </section>
                        <section class="p-rel">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" autocapitalize="off" autocomplete="off">
                        </section>
                        <section class="p-rel">
                            <label for="confirm-password">Confirm password</label>
                            <input type="password" name="confirm-password" id="confirm-password" autocapitalize="off" autocomplete="off">
                        </section>
                        <section>
                            <button type="submit">Sign Up</button>
                        </section>
                    </form>
                </main>
                <footer>
                    <div class="block txt-c">
                        Already have an account? <a href="/login" class="link"> Log in.</a>
                    </div>
                </footer>
            </section>
        </div>
    </main>
    <footer class="authentication-panel-footer">
        <section class="d-flex fill-height fill-width centered">
            <a href="#" class="link">Terms</a>
            <a href="#" class="link">Privacy</a>
            <a href="#" class="link">Security</a>
            <a href="#" class="link">Security</a>
        </section>
    </footer>
</body>
</html>